<html>
  <head>
    <title>C&L Merging File System</title>
  </head>
  <body>
    <div style="display: flex; flex-direction: column; align-items: center">
      <div style="margin-bottom: 2rem">
        <h1>C&L Merging File System</h1>
        <form
          method="POST"
          action="{%url 'home' %}"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div style="margin-bottom: 1rem">
            <a>GVSession Excel file: </a>
            {{ input_form.gv_file }}
          </div>
          <div style="margin-bottom: 1rem">
            <a>ManageSchedule Excel file: </a>
            {{ input_form.schedule_file }}
          </div>
          <div style="margin-bottom: 1rem">
            <a>Enrollment Summary Excel file: </a>
            {{ input_form.enrollment_summary_file }}
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
