<html>
  <head>
    <title>C&L Merging File System</title>
  </head>
  <body style="display: flex; flex-direction: column; align-items: center">
    <div style="width: 30%; display: flex; flex-direction: column">
      <div style="margin-bottom: 2rem">
        <h1>C&L Merging File System</h1>
        <form
          method="POST"
          action="{%url 'home' %}"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div
            style="
              margin-bottom: 1rem;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            "
          >
            <div>GV Session Excel file:</div>
            <div>{{ input_form.gv_file }}</div>
          </div>
          <div
            style="
              margin-bottom: 1rem;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            "
          >
            <div>Manage Schedule Excel file:</div>
            <div>{{ input_form.schedule_file }}</div>
          </div>
          <div
            style="
              margin-bottom: 1rem;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            "
          >
            <div>Enrollment Summary Excel file:</div>
            <div>{{ input_form.enrollment_summary_file }}</div>
          </div>
          <div
            style="
              margin-bottom: 1rem;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            "
          >
            <div>Days to flag out:</div>
            <div>{{ input_form.days_input }}</div>
          </div>
          <div
            style="display: flex; flex-direction: column; align-items: center"
          >
            <button
              type="submit"
              style="margin: 2rem 0 2rem; height: 2rem; width: 20%"
            >
              Submit
            </button>
          </div>
        </form>
        {% if error_msg %}
        <div style="color: red; margin-bottom: 1rem; overflow-wrap: normal">
          {{ error_msg }}
        </div>
        {% endif %}
      </div>
    </div>
  </body>
</html>
